<h1>*ngFor</h1>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i}} {{name}}
    <button (click)="indexDelete(i)">delete</button>
  </li>
</ul>
<input type="text" [(ngModel)]="newName"/>
<button (click)="namesAdder()">add name</button>
<hr/>
<h1>*ngIf</h1>
<p *ngIf = " person.name === 'Juan'">soy {{person.name}}</p>
<p *ngIf = " person.name === 'David; else elseBlock1' ">soy {{person.name}}</p>
<ng-template #elseBlock1>
  <p>Jijija elseBlock1</p>
</ng-template>
<ng-template #elseBlock2>
  <p>Jijija elseBlock2</p>
</ng-template>
<hr/>
<h1>Events</h1>
<button [disabled]="bntDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle button</button>
<button [disabled]="bntDisabled" (click)="ageIncreaser()">Edad {{person.age}}</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, fugit laudantium! Id quibusdam vitae eos dignissimos quidem officiis consequuntur voluptates ipsa dolorem tempore obcaecati hic esse sunt similique, doloribus quas. Lorem ipsum dolor sit amet consectetur adipis</p>
</div>
<hr/>
<h1>ngModel</h1>
<input type="text" #nameInput="ngModel" required [(ngModel)]="person.name"/>
<input type="number" min = "18" max = "99" #ageInput="ngModel" required [(ngModel)]="person.age"/>
<p>Nombre {{person.name}}</p>
<p>Valid: {{nameInput.valid}}</p>
<p>Age: {{ageInput.valid}}</p>
<hr/>
<h1>Propiedades</h1>
<button [disabled] = "bntDisabled">enviar </button>
<input type="text" [value]="person.name"/>
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar"/>
<hr/>
<h1>Hola mundo</h1>
<h2>{{  'Hola mundo '.repeat(10)  }}</h2>
<p>3 + 3 = {{3+3}}</p>
<h3>Hola, soy {{name}}, tengo {{age}} años</h3>
<img src={{img}} alt="image">
